.chatScreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: skyblue;
}

.inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0 2em;
    border-radius: 3em;
    background-color: white;
    margin: 2em;
}

.messagesContainer {
    flex-grow: 1;
    position: relative;
}

.messages {
    position: absolute;
    bottom: 0;
}

.input {
    padding: 0.25em;
    border-radius: 0.5em;
    border: skyblue 1px solid;
    padding: 0.5em;
    flex-grow: 0;
    margin-bottom: 1em;
}

.sendButtonContainer {
    position: absolute;
    right: 1.5em;
    bottom: 0.5em;
}

.disconnectButtonContainer {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
}